<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

<p><% @restaurant.reviews.each do  |review| %>
<%= review.content %>
<% end %>
</p>
<%= link_to "All restaurants", restaurants_path, {class: "btn btn-primary"} %>

